@font-face { font-family: kenpixel; src: url('../img/ken-fonts/kenvector_future.ttf'); }
canvas {
  border: solid black;
  font-family: kenpixel;
}
#start {
  top: 0;
  left: 0;
  position: absolute;
}